@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.companyName{
    font-size: 3em;
    margin-left: 5%;
    color: blue;
}

.callUs{
    padding-left: 5%;
    color: blue;
}