
<div style="display: flex;">
  <div class="companyName">
    Silver Line Hearing
  </div>
  <div class="callUs">
    <i class="fas fa-phone fa-border fa-2x"></i>Call Us
    <div>
      +91 8427344225
    </div>
  </div>
  <div style="padding-left: 5%; color: blue;">
    Mail Us
    <div>silverlinehearing@gmail.com</div>
  </div>
</div>

<div style="display: flex; margin-top: 2.5%; background-color: #C499F3; padding-top: 20px; padding-bottom: 20px; color: white;">
  <div style="padding-left: 25%;">Home</div>
  <div style="padding-left: 5%;">About Us</div>
  <div style="padding-left: 5%;">Services</div>
  <div style="padding-left: 5%;">Gallery</div>
  <div style="padding-left: 5%;">Contact Us</div>
</div>


<router-outlet></router-outlet>
