  
<div style="display: flex;">
  <div class="companyName">
    Silverline Hearing
  </div>
  <div class="callUs">
    <i class="fas fa-phone fa-border fa-2x"></i>Call Us
    <div>
      +91 8427344225
    </div>
  </div>
  <div style="padding-left: 5%; color: blue;">
    <i class="fa fa-envelope fa-2x"></i>Mail Us
    <div>silverlinehearing@gmail.com</div>
  </div>
</div>
  
  <!-- Navbar Code -->
  <div style="display: flex; margin-top: 2.5%; background-color: #C499F3; padding-top: 20px; padding-bottom: 20px; color: white; font-weight: bolder;">
    <div style="padding-left: 25%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
      <a routerLink="/home">Home</a>
    </div>
    <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
        <a routerLink="/about-us">About Us</a>
    </div>
    <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
      <a routerLink="/services">Services</a>
    </div>
    <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
      <a routerLink="/gallery">Gallery</a>
    </div>
    <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
      <a routerLink="/contact-us">Contact-Us</a>
    </div>
  </div>

<router-outlet></router-outlet>