@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.companyName{
    font-size: 3em;
    margin-left: 5%;
    color: blue;
}

.callUs{
    padding-left: 5%;
    color: blue;
}

.contact-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 90px;
    /* margin-left: 25%; */
  }

.company-text{
    font-size: 50px;
    margin-top: 10%;
    margin-left: 25%;
}

.company-para{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 25%;
    text-align: left;
}

.overlay-text {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }