
<div style="display: flex;">
  <div class="companyName">
    Silverline Hearing
  </div>
  <div class="callUs">
    <i class="fas fa-phone fa-border fa-2x"></i>Call Us
    <div>
      +91 8427344225
    </div>
  </div>
  <div style="padding-left: 5%; color: blue;">
    Mail Us
    <div>silverlinehearing@gmail.com</div>
  </div>
</div>

<!-- Navbar Code -->
<div style="display: flex; margin-top: 2.5%; background-color: #C499F3; padding-top: 20px; padding-bottom: 20px; color: white; font-weight: bolder;">
  <div style="margin-left: 25%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
    Home
  </div>
  <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
    About Us
  </div>
  <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
    Services
  </div>
  <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
    Gallery
  </div>
  <div style="margin-left: 5%; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='#C499F3';">
    Contact Us
  </div>
</div>

<div style="position: relative;">
  <a href="#">
    <img src="/assets/image1.webp" alt="Image 1" style="width: 100%; height: 76vh;">
  </a>
  <div class="overlay-text">
    <div class="company-text">Silverline Clinic</div>
    <div class="company-para">
      Introducing Silver Lining Clinic,
      <br>
      the best wholesale trader of high-quality
      <br>
      hearing aids and related equipment here in Chandigarh.
    </div>
    <button class="contact-button">Contact Us</button>
  </div>
</div>


<!-- Footer Starts From Here  -->
<div class="content">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
