    <div style="position: relative;">
    <a href="#">
      <img src="/assets/image1.webp" alt="Image 1" style="width: 100%; height: 76vh;">
    </a>
    <div class="overlay-text">
      <div class="company-text">Silverline Clinic</div>
      <div class="company-para">
        Introducing Silver Lining Clinic,
        <br>
        the best wholesale trader of high-quality
        <br>
        hearing aids and related equipment here in Chandigarh.
      </div>
      <button class="contact-button">Contact Us</button>
    </div>
  </div>
  
  <!-- Footer Starts From Here  -->
  <div class="content">
    <app-footer></app-footer>
  </div>

  